.carousel{
    display: flex;
    overflow-x: auto;
    mask-image: linear-gradient(to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0));
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    gap: 1em;
    animation: spin 15s linear infinite;
    padding-right: 1em;
}

.card{
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -50%;}
}